<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cooling 9 - Sklep komputerowy</title>
    <meta
      name="description"
      content="Discover the future of technology with TechByte, your ultimate online destination for cutting-edge computer components, laptops, and gaming gear. Experience unparalleled quality, competitive prices, and exceptional customer service. Shop now to elevate your tech game!" />
    <meta
      name="keywords"
      content="Computer, project, database, backend,
    studies, store, TechByte" />
    <meta name="author" content="TechByte" />
    <meta name="copyright" content="TechByte" />

    <!--
    - favicon
  -->

    <link
      rel="shortcut icon"
      href="../../assets/images/logo/Logo2.webp"
      type="image/x-icon" />

    <!--
    - custom css link
  -->
    <link rel="stylesheet" href="../../assets/css/productStyle.css" />

    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet" />
  </head>

  <body>
    <div class="overlay" data-overlay></div>

    <!--
    - MODAL
  -->

    <div class="modal" data-modal>
      <div class="modal-close-overlay" data-modal-overlay></div>

      <div class="modal-content">
        <button class="modal-close-btn" data-modal-close>
          <ion-icon name="close-outline"></ion-icon>
        </button>

        <div class="newsletter-img">
          <img
            src="../../assets/images/banners/BannerMain1.webp"
            alt="subscribe newsletter"
            width="400"
            height="400" />
        </div>

        <div class="newsletter">
          <form action="#">
            <div class="newsletter-header">
              <h3 class="newsletter-title">Subscribe Newsletter.</h3>

              <p class="newsletter-desc">
                Subscribe the <b>TechByte</b> to get latest products and
                discount update.
              </p>
            </div>

            <input
              type="email"
              name="email"
              class="email-field"
              placeholder="Email Address"
              required />

            <button type="submit" class="btn-newsletter">Subscribe</button>
          </form>
        </div>
      </div>
    </div>

    <!--
    - NOTIFICATION TOAST
  -->

    <div class="notification-toast" data-toast>
      <button class="toast-close-btn" data-toast-close>
        <ion-icon name="close-outline"></ion-icon>
      </button>

      <div class="toast-banner">
        <img
          src="../../assets/images/products/computers/computer1.webp"
          alt="next generation computer"
          width="80"
          height="70" />
      </div>

      <div class="toast-detail">
        <p class="toast-message">Someone in new just bought</p>

        <p class="toast-title">Next generation computer</p>

        <p class="toast-meta"><time datetime="PT2M">2 Minutes</time> ago</p>
      </div>
    </div>

    <!--
    - HEADER
  -->

    <header>
      <div class="header-top">
        <div class="container">
          <ul class="header-social-container">
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
          </ul>

          <div class="header-alert-news">
            <p>
              <b>Free Shipping</b>
              This Week Order Over - $150
            </p>
          </div>

          <div class="header-top-actions">
            <select name="currency">
              <option value="usd">USD &dollar;</option>
              <option value="eur">EUR &euro;</option>
            </select>

            <select name="language">
              <option value="en-US">English</option>
              <option value="pl-PL">Polish</option>
              <option value="fr">Fran&ccedil;ais</option>
            </select>
          </div>
        </div>
      </div>

      <div class="header-main">
        <div class="container">
          <a href="../../index.html" class="header-logo">
            <img
              src="../../assets/images/logo/Logo2.webp"
              alt="Anon's logo"
              width="60"
              height="60" />
          </a>

          <div class="header-search-container">
            <input
              type="search"
              name="search"
              class="search-field"
              placeholder="Enter your product name..." />

            <button class="search-btn">
              <ion-icon name="search-outline"></ion-icon>
            </button>
          </div>

          <div class="header-user-actions">
            <a href="../../account.html" class="action-btn"
              ><ion-icon name="person-outline"> </ion-icon
            ></a>
            <a href="../../favorite.html" class="action-btn">
              <ion-icon name="heart-outline"></ion-icon>
              <span class="count-favorite">0</span></a
            >

            <a href="../../cart.html" class="action-btn">
              <ion-icon name="bag-handle-outline"></ion-icon>
              <span class="count-cart">0</span></a
            >
          </div>
        </div>
      </div>

      <nav class="desktop-navigation-menu">
        <div class="container">
          <ul class="desktop-menu-category-list">
            <li class="menu-category">
              <a href="../../index.html" class="menu-title">Home</a>
            </li>

            <li class="menu-category">
              <a class="menu-title cursor">Categories</a>

              <div class="dropdown-panel">
                <ul class="dropdown-panel-list">
                  <li class="menu-title">
                    <a href="../../computers.html">Computers</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../computers.html#gaming">Gaming</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../computers.html#learning">Learning</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../computers.html#office">Office</a>
                  </li>

                  <li class="panel-list-item">
                    <img
                      src="../../assets/images/banners/BannerComain5.webp"
                      alt="computers"
                      width="250"
                      height="119" />
                  </li>
                </ul>

                <ul class="dropdown-panel-list">
                  <li class="menu-title">
                    <a href="../../laptops.html">Laptops</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../laptops.html#gaming">Gaming</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../laptops.html#learning">Learing</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../laptops.html#office">Office</a>
                  </li>

                  <li class="panel-list-item">
                    <img
                      src="../../assets/images/banners/BannerComain3.webp"
                      alt="men's fashion"
                      width="250"
                      height="119" />
                  </li>
                </ul>

                <ul class="dropdown-panel-list">
                  <li class="menu-title">
                    <a href="../../components.html">Components</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../components.html#processors">Processors</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../components.html#graphics">Graphics</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../components.html#powerSupply">Power supply</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../index.html">
                      <img
                        src="../../assets/images/banners/BannerComain4.webp"
                        alt="women's fashion"
                        width="250"
                        height="119" />
                    </a>
                  </li>
                </ul>

                <ul class="dropdown-panel-list">
                  <li class="panel-list-item">
                    <a href="../../components.html#cooling">Cooling</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../components.html#disks">Disks</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../components.html#fans">Fans</a>
                  </li>

                  <li class="panel-list-item">
                    <a href="../../components.html#motherboards"
                      >Motherboards</a
                    >
                  </li>

                  <li class="panel-list-item">
                    <a href="../../index.html">
                      <img
                        src="../../assets/images/banners/BannerMain3.webp"
                        alt="women's fashion"
                        width="250"
                        height="119" />
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="menu-category">
              <a href="../../computers.html" class="menu-title">Computers</a>

              <ul class="dropdown-list">
                <li class="dropdown-item">
                  <a href="../../computers.html#gaming">Gaming</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../computers.html#learning">Learning</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../computers.html#office">Office</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../computers.html#all">All</a>
                </li>
              </ul>
            </li>

            <li class="menu-category">
              <a href="../../laptops.html" class="menu-title">Laptops</a>

              <ul class="dropdown-list">
                <li class="dropdown-item">
                  <a href="../../laptops.html#gaming">Gaming</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../laptops.html#learning">Learning</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../laptops.html#office">Office</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../laptops.html#all">All</a>
                </li>
              </ul>
            </li>

            <li class="menu-category">
              <a href="../../components.html" class="menu-title">Components</a>

              <ul class="dropdown-list">
                <li class="dropdown-item">
                  <a href="../../components.html#processors">Processors</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../components.html#graphics">Graphics</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../components.html#memoryRam">Memory RAM</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../components.html#motherboards">Motherboards</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../components.html#fans">Fans</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../components.html#cooling">Cooling</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../components.html#disks">Disks</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../components.html#cases">Cases</a>
                </li>

                <li class="dropdown-item">
                  <a href="../../components.html#powerSupply">Power supply</a>
                </li>
              </ul>
            </li>

            <li class="menu-category">
              <a href="../../faq.html" class="menu-title">FAQ</a>
            </li>

            <li class="menu-category">
              <a href="../../sales.html" class="menu-title">Hot Offers</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="mobile-bottom-navigation">
        <button
          class="action-btn"
          data-mobile-menu-open-btn="mobile-navigation-menu">
          <ion-icon name="menu-outline"></ion-icon>
        </button>

        <button class="action-btn">
          <a href="../../cart.html">
            <ion-icon name="bag-handle-outline"></ion-icon>
          </a>
          <span class="count-cart">0</span>
        </button>

        <button class="action-btn">
          <a href="../../index.html">
            <ion-icon name="home-outline"></ion-icon>
          </a>
        </button>

        <button class="action-btn">
          <a href="../../favorite.html">
            <ion-icon name="heart-outline"></ion-icon
          ></a>

          <span class="count-favorite">0</span>
        </button>

        <button class="action-btn" data-mobile-menu-open-btn="sidebar">
          <ion-icon name="grid-outline"></ion-icon>
        </button>
      </div>

      <nav
        class="mobile-navigation-menu has-scrollbar"
        data-mobile-menu="mobile-navigation-menu">
        <div class="menu-top">
          <h2 class="menu-title">Menu</h2>

          <button class="menu-close-btn" data-mobile-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>
        </div>

        <ul class="mobile-menu-category-list">
          <li class="menu-category">
            <a href="../../index.html" class="menu-title">Home</a>
          </li>

          <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Computers</p>

              <div>
                <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
              </div>
            </button>

            <ul class="submenu-category-list" data-accordion>
              <li class="submenu-category">
                <a href="../../computers.html#gaming" class="submenu-title"
                  >Gaming</a
                >
              </li>

              <li class="submenu-category">
                <a href="../../computers.html#learning" class="submenu-title"
                  >Learning</a
                >
              </li>

              <li class="submenu-category">
                <a href="../../computers.html#office" class="submenu-title"
                  >Office</a
                >
              </li>

              <li class="submenu-category">
                <a href="../../computers.html#all" class="submenu-title">All</a>
              </li>
            </ul>
          </li>

          <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Laptops</p>

              <div>
                <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
              </div>
            </button>

            <ul class="submenu-category-list" data-accordion>
              <li class="submenu-category">
                <a href="../../laptops.html#gaming" class="submenu-title"
                  >Gaming</a
                >
              </li>

              <li class="submenu-category">
                <a href="../../laptops.html#learning" class="submenu-title"
                  >Learning</a
                >
              </li>

              <li class="submenu-category">
                <a href="../../laptops.html#office" class="submenu-title"
                  >Office</a
                >
              </li>

              <li class="submenu-category">
                <a href="../../laptops.html#all" class="submenu-title">All</a>
              </li>
            </ul>
          </li>

          <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Components 1</p>

              <div>
                <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
              </div>
            </button>

            <ul class="submenu-category-list" data-accordion>
              <li class="submenu-category">
                <a href="../../components.html#processors" class="submenu-title"
                  >Processors</a
                >
              </li>

              <li class="submenu-category">
                <a href="../../components.html#graphics" class="submenu-title"
                  >Graphics</a
                >
              </li>

              <li class="submenu-category">
                <a href="../../components.html#memoryRam" class="submenu-title"
                  >Memory RAM</a
                >
              </li>

              <li class="submenu-category">
                <a
                  href="../../components.html#motherboards"
                  class="submenu-title"
                  >Motherboards</a
                >
              </li>
            </ul>
          </li>

          <li class="menu-category">
            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Components 2</p>

              <div>
                <ion-icon name="add-outline" class="add-icon"></ion-icon>
                <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
              </div>
            </button>

            <ul class="submenu-category-list" data-accordion>
              <li class="submenu-category">
                <a
                  href="../../components.html#powerSupply"
                  class="submenu-title"
                  >Power supply</a
                >
              </li>

              <li class="submenu-category">
                <a href="../../components.html#cooling" class="submenu-title"
                  >Cooling</a
                >
              </li>

              <li class="submenu-category">
                <a href="../../components.html#disks" class="submenu-title"
                  >Disks</a
                >
              </li>

              <li class="submenu-category">
                <a href="../../components.html#fans" class="submenu-title"
                  >Fans</a
                >
              </li>
            </ul>
          </li>

          <li class="menu-category">
            <a href="../../faq.html" class="menu-title">FAQ</a>
          </li>

          <li class="menu-category">
            <a href="../../sales.html" class="menu-title">Hot Offers</a>
          </li>
        </ul>

        <div class="menu-bottom">
          <ul class="menu-category-list">
            <li class="menu-category">
              <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Language</p>

                <ion-icon
                  name="caret-back-outline"
                  class="caret-back"></ion-icon>
              </button>

              <ul class="submenu-category-list" data-accordion>
                <li class="submenu-category">
                  <button data-lang="en-US" class="submenu-title btn-lang">
                    English
                  </button>
                </li>
                <li class="submenu-category">
                  <button data-lang="pl-PL" class="submenu-title btn-lang">
                    Polish
                  </button>
                </li>
                <li class="submenu-category">
                  <button data-lang="fr" class="submenu-title btn-lang">
                    French
                  </button>
                </li>
              </ul>
            </li>

            <li class="menu-category">
              <button class="accordion-menu" data-accordion-btn>
                <p class="menu-title">Currency</p>
                <ion-icon
                  name="caret-back-outline"
                  class="caret-back"></ion-icon>
              </button>

              <ul class="submenu-category-list" data-accordion>
                <li class="submenu-category">
                  <a href="#" class="submenu-title">USD &dollar;</a>
                </li>

                <li class="submenu-category">
                  <a href="#" class="submenu-title">EUR &euro;</a>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="menu-social-container">
            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!--
    - MAIN
  -->

    <main>
      <!--
          - SIDEBAR
        -->
      <div class="barside">
        <div class="sidebar has-scrollbar" data-mobile-menu="sidebar">
          <div class="sidebar-category">
            <div class="sidebar-top">
              <h2 class="sidebar-title">Category</h2>

              <button class="sidebar-close-btn" data-mobile-menu-close-btn>
                <ion-icon name="close-outline"></ion-icon>
              </button>
            </div>

            <ul class="sidebar-menu-category-list">
              <li class="sidebar-menu-category">
                <button class="sidebar-accordion-menu" data-accordion-btn>
                  <div class="menu-title-flex">
                    <img
                      src="../../assets/images/icons/Computers.jpg"
                      alt="Computers"
                      width="20"
                      height="20"
                      class="menu-title-img" />

                    <p class="menu-title">Computers</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon
                      name="remove-outline"
                      class="remove-icon"></ion-icon>
                  </div>
                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>
                  <li class="sidebar-submenu-category">
                    <a
                      href="../computers.html#gaming"
                      class="sidebar-submenu-title">
                      <p class="product-name">Gaming</p>
                      <data value="12" class="stock" title="Available Stock"
                        >12</data
                      >
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a
                      href="../../computers.html#learning"
                      class="sidebar-submenu-title">
                      <p class="product-name">Learning</p>
                      <data value="20" class="stock" title="Available Stock"
                        >20</data
                      >
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a
                      href="../../computers.html#office"
                      class="sidebar-submenu-title">
                      <p class="product-name">Office</p>
                      <data value="10" class="stock" title="Available Stock"
                        >10</data
                      >
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a
                      href="../../computers.html#all"
                      class="sidebar-submenu-title">
                      <p class="product-name">All</p>
                      <data value="42" class="stock" title="Available Stock"
                        >42</data
                      >
                    </a>
                  </li>
                </ul>
              </li>

              <li class="sidebar-menu-category">
                <button class="sidebar-accordion-menu" data-accordion-btn>
                  <div class="menu-title-flex">
                    <img
                      src="../../assets/images/icons/Laptops.jpg"
                      alt="Laptops"
                      class="menu-title-img"
                      width="20"
                      height="20" />

                    <p class="menu-title">Laptops</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon
                      name="remove-outline"
                      class="remove-icon"></ion-icon>
                  </div>
                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>
                  <li class="sidebar-submenu-category">
                    <a
                      href="../../laptops.html#gaming"
                      class="sidebar-submenu-title">
                      <p class="product-name">Gaming</p>
                      <data value="45" class="stock" title="Available Stock"
                        >12</data
                      >
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a
                      href="../../laptops.html#learning"
                      class="sidebar-submenu-title">
                      <p class="product-name">Learning</p>
                      <data value="5" class="stock" title="Available Stock"
                        >5</data
                      >
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a
                      href="../../laptops.html#office"
                      class="sidebar-submenu-title">
                      <p class="product-name">Office</p>
                      <data value="6" class="stock" title="Available Stock"
                        >6</data
                      >
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a
                      href="../../laptops.html#all"
                      class="sidebar-submenu-title">
                      <p class="product-name">All</p>
                      <data value="23" class="stock" title="Available Stock"
                        >23</data
                      >
                    </a>
                  </li>
                </ul>
              </li>

              <li class="sidebar-menu-category">
                <button class="sidebar-accordion-menu" data-accordion-btn>
                  <div class="menu-title-flex">
                    <img
                      src="../../assets/images/icons/Components.jpg"
                      alt="Components"
                      class="menu-title-img"
                      width="20"
                      height="20" />

                    <p class="menu-title">Components</p>
                  </div>

                  <div>
                    <ion-icon name="add-outline" class="add-icon"></ion-icon>
                    <ion-icon
                      name="remove-outline"
                      class="remove-icon"></ion-icon>
                  </div>
                </button>

                <ul class="sidebar-submenu-category-list" data-accordion>
                  <li class="sidebar-submenu-category">
                    <a
                      href="../../components.html#processors"
                      class="sidebar-submenu-title">
                      <p class="product-name">Prossecors</p>
                      <data value="58" class="stock" title="Available Stock"
                        >58</data
                      >
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a
                      href="../../components.html#graphics"
                      class="sidebar-submenu-title">
                      <p class="product-name">Graphics</p>
                      <data value="87" class="stock" title="Available Stock"
                        >87</data
                      >
                    </a>
                  </li>

                  <li class="sidebar-submenu-category">
                    <a
                      href="../../components.html#memoryRam"
                      class="sidebar-submenu-title">
                      <p class="product-name">Memory RAM</p>
                      <data value="37" class="stock" title="Available Stock"
                        >37</data
                      >
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="product-showcase">
            <h3 class="showcase-heading">best sellers</h3>

            <div class="showcase-wrapper">
              <div class="showcase-container">
                <div class="showcase">
                  <a
                    href="../../components/cases/case1.html"
                    class="showcase-img-box">
                    <img
                      src="../../assets/images/products/components/computerCases/case1v1.webp"
                      alt="Case 1v1"
                      width="75"
                      height="75"
                      class="showcase-img" />
                  </a>

                  <div class="showcase-content">
                    <a href="../../components/cases/case1.html">
                      <h4 class="showcase-title">Fury Shobo SH4F RGB</h4>
                    </a>

                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-box">
                      <del>$100.00</del>
                      <p class="price">$84.00</p>
                    </div>
                  </div>
                </div>

                <div class="showcase">
                  <a
                    href="../../components/graphics/graphics10.html"
                    class="showcase-img-box">
                    <img
                      src="../../assets/images/products/components/graphics/grap10v1.webp"
                      alt="grafika 10v1"
                      class="showcase-img"
                      width="75"
                      height="75" />
                  </a>

                  <div class="showcase-content">
                    <a href="../../components/graphics/graphics10.html">
                      <h4 class="showcase-title">ASUS GeForce RTX 4090</h4>
                    </a>
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
                    </div>

                    <div class="price-box">
                      <del>$2000.00</del>
                      <p class="price">$1950.00</p>
                    </div>
                  </div>
                </div>

                <div class="showcase">
                  <a
                    href="../components/processors/processor1.html"
                    class="showcase-img-box">
                    <img
                      src="../../assets/images/products/components/processors/processor1.webp"
                      alt="girls t-shirt"
                      class="showcase-img"
                      width="75"
                      height="75" />
                  </a>

                  <div class="showcase-content">
                    <a href="../../components/processors/processor1.html">
                      <h4 class="showcase-title">AMD Ryzen 9 7900X</h4>
                    </a>
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-half-outline"></ion-icon>
                    </div>

                    <div class="price-box">
                      <del>$500</del>
                      <p class="price">$400</p>
                    </div>
                  </div>
                </div>

                <div class="showcase">
                  <a
                    href="../../components/motherboards/mobo10.html"
                    class="showcase-img-box">
                    <img
                      src="../../assets/images/products/components/motherboards/mb10v1.webp"
                      alt="motherboards 10v1"
                      class="showcase-img"
                      width="75"
                      height="75" />
                  </a>

                  <div class="showcase-content">
                    <a href="../../components/motherboards/mobo10.html">
                      <h4 class="showcase-title">ASUS PRIME B550-PLUS</h4>
                    </a>
                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-box">
                      <del>$120</del>
                      <p class="price">$100</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 
        PRODUCT
       -->

      <div id="imageOverlay" class="image-overlay" style="display: none">
        <span class="close-btn">&times;</span>
        <img class="overlay-image" src="" alt="Powiększone zdjęcie" />
      </div>

      <div class="produkt new-conti category-section" id="case1">
        <div class="product-main">
          <div class="product-grid">
            <div class="showcase">
              <div class="slider showcase-banner">
                <!-- Zdjęcia produktu -->
                <div class="slides-container"></div>
                <!-- Przyciski nawigacyjne -->
                <button class="slide-nav prev" onclick="changeSlide(-1)">
                  &#10094;
                </button>
                <button class="slide-nav next" onclick="changeSlide(1)">
                  &#10095;
                </button>
                <!-- Miniatury obrazów -->
                <div class="thumbnail-container"></div>

                <div class="showcase-actions">
                  <button class="btn-action heart">
                    <ion-icon name="heart-outline"></ion-icon>
                  </button>

                  <button class="btn-action magnification">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>

                  <button class="btn-action repeat">
                    <ion-icon name="repeat-outline"></ion-icon>
                  </button>

                  <button class="btn-action bag-add">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>
                </div>
              </div>

              <div class="showcase-content">
                <div class="caseBox-info">
                  <div class="caseBox1">
                    <a href="air4.html" class="showcase-category">Cooling 9</a>
                    <a href="air4.html">
                      <h3 class="showcase-title">Noctua NH-U14S 140mm</h3>
                    </a>

                    <div class="showcase-rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>

                    <div class="price-cart-fav">
                      <div class="price-box">
                        <p class="price" data-price-usd="120.00">$120.00</p>
                        <del data-price-usd="130.00">$130.00</del>
                      </div>

                      <div class="cart-favorite">
                        <button class="btn-action favoriting">
                          <ion-icon name="heart-outline"></ion-icon>
                        </button>

                        <button class="btn-action carting">
                          <ion-icon name="bag-add-outline"></ion-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <hr />
              <h2 class="product-description-title">Description</h2>
              <div class="product-description"></div>

              <table class="product-specification">
                <tr>
                  <th>Dimension (without fan)</th>
                  <th>Specification</th>
                </tr>
                <tr class="specification-row">
                  <td>Height</td>
                  <td>165 mm</td>
                </tr>
                <tr class="specification-row alt">
                  <td>Width</td>
                  <td>150 mm</td>
                </tr>
                <tr class="specification-row">
                  <td>Depth</td>
                  <td>52 mm</td>
                </tr>
                <tr class="specification-row alt">
                  <td>Dimension (with fan)</td>
                  <td></td>
                </tr>
                <tr class="specification-row">
                  <td>Height</td>
                  <td>165 mm</td>
                </tr>
                <tr class="specification-row alt">
                  <td>Width</td>
                  <td>150 mm</td>
                </tr>
                <tr class="specification-row">
                  <td>Depth</td>
                  <td>78 mm</td>
                </tr>
                <tr class="specification-row alt">
                  <td>Weight (with fan)</td>
                  <td>935 g</td>
                </tr>
                <tr class="specification-row">
                  <td>Material</td>
                  <td>Copper (base and heat pipes), Aluminum (radiator)</td>
                </tr>
                <tr class="specification-row alt">
                  <td>Fan Compatibility</td>
                  <td>
                    140x150x25 (120mm mounting holes), 140x140x25 (120mm
                    mounting holes), 120x120x25mm
                  </td>
                </tr>
                <tr class="specification-row">
                  <td>Fan Model</td>
                  <td>1x Noctua NF-A15 PWM</td>
                </tr>
                <tr class="specification-row alt">
                  <td>Bearing</td>
                  <td>SSO2</td>
                </tr>
                <tr class="specification-row">
                  <td>Maximum Speed</td>
                  <td>(+/- 10%) 1500 RPM</td>
                </tr>
                <tr class="specification-row alt">
                  <td>Maximum Speed with Adapter</td>
                  <td>(+/- 10%) 1200 RPM</td>
                </tr>
                <tr class="specification-row">
                  <td>Minimum Rotational Speed @ 20% PWM</td>
                  <td>(+/-20%) 300 RPM</td>
                </tr>
                <tr class="specification-row alt">
                  <td>Maximum Airflow</td>
                  <td>140.2 m³/h</td>
                </tr>
                <tr class="specification-row">
                  <td>Maximum Airflow with Adapter</td>
                  <td>115.5 m³/h</td>
                </tr>
                <tr class="specification-row alt">
                  <td>Maximum Noise Level</td>
                  <td>24.6 dB(A)</td>
                </tr>
                <tr class="specification-row">
                  <td>Maximum Noise Level with Adapter</td>
                  <td>19.2 dB(A)</td>
                </tr>
                <tr class="specification-row alt">
                  <td>Included</td>
                  <td>
                    Black NH-U14S heatsink, 1x NF-A15 PWM, 1x Low-Noise Adaptor
                    (L.N.A), NT-H1 high-grade thermal compound, Black SecuFirm2™
                    mounting kit, Noctua Metal Case-Badge
                  </td>
                </tr>
                <tr class="specification-row">
                  <td>Compatibility</td>
                  <td>
                    <ul>
                      <li>
                        Intel: LGA1700, LGA1200, LGA1156, LGA1155, LGA1151,
                        LGA1150, LGA2066, LGA2011-0, LGA2011-3 (Square ILM)
                      </li>
                      <li>AMD: AM4, AM5</li>
                    </ul>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="container">
          <div class="testimonials-box">
            <!--
            - TESTIMONIALS
          -->

            <div class="testimonial">
              <h2 class="title">testimonial</h2>

              <div class="testimonial-card">
                <img
                  src="../../assets/images/Portret.jpg"
                  alt="alan doe"
                  class="testimonial-banner"
                  width="80"
                  height="80" />

                <p class="testimonial-name">Dawid Olko</p>

                <p class="testimonial-title">CEO & Founder Invision</p>

                <img
                  src="../../assets/images/icons/quotes.svg"
                  alt="quotation"
                  class="quotation-img"
                  width="26" />

                <p class="testimonial-desc">
                  <q
                    >Empowering your digital world, one byte at a time. Welcome
                    to TechByte, where innovation meets excellence.</q
                  >
                </p>
              </div>
            </div>

            <!--
            - CTA
          -->

            <div class="cta-container">
              <img
                src="../../assets/images/banners/BannerComain2.webp"
                alt="summer collection"
                class="cta-banner" />

              <a href="../../index.html" class="cta-content">
                <p class="discount">25% Discount</p>

                <h2 class="cta-title">Computer collection</h2>

                <p class="cta-text">Starting $100</p>

                <button class="cta-btn">Shop now</button>
              </a>
            </div>

            <!--
            - SERVICE
          -->

            <div class="service">
              <h2 class="title">Our Services</h2>

              <div class="service-container">
                <a href="../../contact.html" class="service-item">
                  <div class="service-icon">
                    <ion-icon name="boat-outline"></ion-icon>
                  </div>

                  <div class="service-content">
                    <h3 class="service-title">Worldwide Delivery</h3>
                    <p class="service-desc">For Order Over $100</p>
                  </div>
                </a>

                <a href="../../index.html" class="service-item">
                  <div class="service-icon">
                    <ion-icon name="rocket-outline"></ion-icon>
                  </div>

                  <div class="service-content">
                    <h3 class="service-title">Next Day delivery</h3>
                    <p class="service-desc">PL Orders Only</p>
                  </div>
                </a>

                <a href="../../contact.html" class="service-item">
                  <div class="service-icon">
                    <ion-icon name="call-outline"></ion-icon>
                  </div>

                  <div class="service-content">
                    <h3 class="service-title">Best Online Support</h3>
                    <p class="service-desc">Hours: 8AM - 16PM</p>
                  </div>
                </a>

                <a href="../../privacy.html" class="service-item">
                  <div class="service-icon">
                    <ion-icon name="arrow-undo-outline"></ion-icon>
                  </div>

                  <div class="service-content">
                    <h3 class="service-title">Return Policy</h3>
                    <p class="service-desc">Easy & Free Return</p>
                  </div>
                </a>

                <a href="../../index.html" class="service-item">
                  <div class="service-icon">
                    <ion-icon name="ticket-outline"></ion-icon>
                  </div>

                  <div class="service-content">
                    <h3 class="service-title">20% money back</h3>
                    <p class="service-desc">For Order Over $500</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--
      - BLOG
    --></main>

    <!--
    - FOOTER
  -->

    <footer>
      <div class="footer-category">
        <div class="container">
          <h2 class="footer-category-title">Brand directory</h2>

          <div class="footer-category-box">
            <h3 class="category-box-title">Computers :</h3>

            <a href="../../computers.html#gaming" class="footer-category-link"
              >Gaming</a
            >
            <a href="../../computers.html#learning" class="footer-category-link"
              >Learning</a
            >
            <a href="../../computers.html#office" class="footer-category-link"
              >Office</a
            >
          </div>

          <div class="footer-category-box">
            <h3 class="category-box-title">Laptops :</h3>

            <a href="../../laptops.html#gaming" class="footer-category-link"
              >Gaming</a
            >
            <a href="../../laptops.html#learning" class="footer-category-link"
              >Learning</a
            >
            <a href="../../laptops.html#office" class="footer-category-link"
              >Office</a
            >
          </div>

          <div class="footer-category-box">
            <h3 class="category-box-title">Components :</h3>

            <a
              href="../../components.html#processors"
              class="footer-category-link"
              >Processors</a
            >
            <a
              href="../../components.html#graphics"
              class="footer-category-link"
              >Graphics</a
            >
            <a
              href="../../components.html#memoryRAM"
              class="footer-category-link"
              >Memory RAM</a
            >
            <a href="../../components.html#fans" class="footer-category-link"
              >Fans</a
            >
            <a href="../../components.html#cooling" class="footer-category-link"
              >Cooling</a
            >
            <a
              href="../../components.html#motherboards"
              class="footer-category-link"
              >Motherboards</a
            >
            <a
              href="../../components.html#powerSupply"
              class="footer-category-link"
              >Power Supply</a
            >
            <a href="../../components.html#disks" class="footer-category-link"
              >Disks</a
            >
            <a href="../../components.html#cases" class="footer-category-link"
              >Cases</a
            >
          </div>
        </div>
      </div>

      <div class="footer-nav">
        <div class="container">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Popular Categories</h2>
            </li>

            <li class="footer-nav-item">
              <a href="../../computers.html" class="footer-nav-link"
                >Computers</a
              >
            </li>

            <li class="footer-nav-item">
              <a href="../../laptops.html" class="footer-nav-link">Laptops</a>
            </li>

            <li class="footer-nav-item">
              <a href="../../components.html" class="footer-nav-link"
                >Components</a
              >
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Products 1</h2>
            </li>

            <li class="footer-nav-item">
              <a href="../../components.html#processors" class="footer-nav-link"
                >Processors</a
              >
            </li>

            <li class="footer-nav-item">
              <a href="../../components.html#graphics" class="footer-nav-link"
                >Graphics</a
              >
            </li>

            <li class="footer-nav-item">
              <a href="../../components.html#memoryRam" class="footer-nav-link"
                >Memory RAM</a
              >
            </li>

            <li class="footer-nav-item">
              <a href="../../components.html#disks" class="footer-nav-link"
                >Disks</a
              >
            </li>

            <li class="footer-nav-item">
              <a
                href="../../components.html#motherboards"
                class="footer-nav-link"
                >Motherboards</a
              >
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Products 2</h2>
            </li>

            <li class="footer-nav-item">
              <a href="../../components.html#fans" class="footer-nav-link"
                >Fans</a
              >
            </li>

            <li class="footer-nav-item">
              <a href="../../components.html#cooling" class="footer-nav-link"
                >Cooling</a
              >
            </li>

            <li class="footer-nav-item">
              <a
                href="../../components.html#powerSupply"
                class="footer-nav-link"
                >Power Supply</a
              >
            </li>

            <li class="footer-nav-item">
              <a href="../../components.html#cases" class="footer-nav-link"
                >Cases</a
              >
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Services</h2>
            </li>

            <li class="footer-nav-item">
              <a href="../../faq.html" class="footer-nav-link">FAQ</a>
            </li>

            <li class="footer-nav-item">
              <a href="../../contact.html" class="footer-nav-link"
                >Contact us</a
              >
            </li>

            <li class="footer-nav-item">
              <a href="../../sales.html" class="footer-nav-link">Best sales</a>
            </li>

            <li class="footer-nav-item">
              <a href="../../account.html" class="footer-nav-link">Account</a>
            </li>

            <li class="footer-nav-item">
              <a href="../../privacy.html" class="footer-nav-link">Privacy</a>
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Contact</h2>
            </li>

            <li class="footer-nav-item flex">
              <div class="icon-box">
                <ion-icon name="location-outline"></ion-icon>
              </div>

              <address class="content">
                al. Tadeusza Rejtana 16C, 35-310 Rzeszów
              </address>
            </li>

            <li class="footer-nav-item flex">
              <div class="icon-box">
                <ion-icon name="call-outline"></ion-icon>
              </div>

              <a href="tel:+607936-8058" class="footer-nav-link"
                >(+48) 666 555 444</a
              >
            </li>

            <li class="footer-nav-item flex">
              <div class="icon-box">
                <ion-icon name="mail-outline"></ion-icon>
              </div>

              <a href="mailto:techbyte@kontakt.com" class="footer-nav-link"
                >techbyte@kontakt.com</a
              >
            </li>
          </ul>

          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <h2 class="nav-title">Follow Us</h2>
            </li>

            <li>
              <ul class="social-link">
                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>
                </li>

                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link">
                    <ion-icon name="logo-twitter"></ion-icon>
                  </a>
                </li>

                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link">
                    <ion-icon name="logo-linkedin"></ion-icon>
                  </a>
                </li>

                <li class="footer-nav-item">
                  <a href="#" class="footer-nav-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <img
            src="../../assets/images/socials/payment.png"
            alt="payment method"
            class="payment-img" />

          <p class="copyright">
            Copyright &copy; <a href="../../index.html">TechByte</a> all rights
            reserved.
          </p>
        </div>
      </div>
    </footer>

    <!--
    - custom js link
  -->
    <script src="../../assets/js/script.js"></script>
    <script src="../../assets/js/sliderProduct.js"></script>
    <script src="../../assets/js/magnification.js"></script>
    <script src="../../assets/js/rotation.js"></script>
    <script src="../../assets/js/changeTheLanguage.js"></script>
    <script src="../../assets/js/exchange.js"></script>
    <script src="../../assets/js/coolingProduct.js"></script>
    <script src="assets/js/loginAccount.js"></script>
    <!--
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
